<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button 
      defaultHref="/"
      text="Back"
      color="primary"
      mode="ios"></ion-back-button>
  </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/defqon1.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>task</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="ion-padding">
      
      <ion-card-title class="titulo1">TITULO</ion-card-title>
      <ion-card-subtitle class="subtitulo1">Subtitulo</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
     Defqon1 es el mejor festival!!!!
    </ion-card-content>

   
    <ion-img src="assets/defqon1.jpg"></ion-img>

  </ion-card>

</ion-content>
