<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Atras"
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrate!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Registro
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="floating"> Nombre: </ion-label>
          <ion-input formControlName="nombre" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Contraseña: </ion-label>
          <ion-input formControlName="password" type="password" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Confirmar Contraseña: </ion-label>
          <ion-input formControlName="confirmacionPassword" type="password" ></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()">Registrarse!
        </ion-button>
      </form> 
    </ion-card-content>
  </ion-card>
</ion-content>
