<ion-header theme="dark" class="ion-no-border">

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Atras"
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Paraceta News</ion-title>   
  </ion-toolbar>

</ion-header>

<ion-content theme="dark">
  <ion-grid >
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                *ngFor ="let cachupin of cachupin; let i= index">
          <ion-card  theme="dark">
            <ion-card-header>
              <ion-card-subtitle>
                  
                  <div></div>
                  <span class="noticia-name">{{cachupin.source.name}} </span>
              </ion-card-subtitle>
              <ion-card-title class="titulo-noticia">{{cachupin.title}}</ion-card-title>
            </ion-card-header>    
            <ion-img  *ngIf="cachupin.urlToImage"
                      [src]="cachupin.urlToImage"></ion-img>   
            
            <ion-card-content>
              <p class="noticia-description">
                {{cachupin.description}}
              </p>

            
              <ion-button fill="outline" slot="ned" href="{{cachupin.url}}" target="_blank">Leer articulo...</ion-button>
            </ion-card-content>          
          </ion-card>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>
