.text{
    color: var(--ion-color-primary) !important;
}

.noticia-name{
    font-size: 12px;
    color: lightgray;
    text-align: justify;

}

.noticia-description{
    text-align: justify;
}

.titulo-noticia{
    font-size: 20px;
    color: whitesmoke;
    text-align: center;

}