<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
  </ion-button>
    <ion-title class="header">Inicio</ion-title>
  </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-card>
        
    <ion-card-header>
      <ion-card-title class="titulo">Paraceta News</ion-card-title>
       
      <ion-card-subtitle class="subtitulo" >Te traemos las noticias mas interesantes del mundo de la ciencia!</ion-card-subtitle>
       
      </ion-card-header>


     <ion-card-content class="ion-padding contenido">
       <img src="\assets\_114409415_ilustracion.png">            </ion-card-content>
     
    </ion-card>
    <ion-button shape="round" expand="full" href="/action-sheet">Ver Noticias!</ion-button>


  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer" mode="ios">Buscanos en:</ion-title>
  </ion-toolbar>
</ion-footer>
