
.subtitulo{
    color:rgb(255, 255, 255);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.titulo{
    color:rgb(255, 255, 255);
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-align: center;
}

.contenido{

    text-align:justify;
}

.ion-text-center{

    text-align:center;
}
.footer{
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  
    
}
.headimage{
    text-align: left;
}
