<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
  </ion-button>
    <ion-title class="header">Inicio</ion-title>
  </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-card>
        
    <ion-card-header>
      <ion-card-title class="titulo">Paraceta News</ion-card-title>
       
      <ion-card-subtitle class="subtitulo" >Te traemos las noticias mas interesantes del mundo de la ciencia!</ion-card-subtitle>
      
      </ion-card-header>


     <ion-card-content class="ion-padding contenido">
                   
       <img class="img" src="https://c.tenor.com/5M8MFCvQRHcAAAAi/facebook-twitter.gif" alt="Description" /></ion-card-content>
       
     
    </ion-card>
    <ion-button shape="round" expand="full" href="/cachupin">Ver Noticias!</ion-button>


  
</ion-content>

<!-- Footer -->
<footer class="footer" class="ion-padding">
  <div class="footer">© 2021 Copyright Paraceta News
  </div>
</footer>
<!-- Footer -->
