<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
       </ion-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-avatar>
        <ion-icon src=src\assets\newspaper-outline.svg></ion-icon>
      </ion-avatar>
    </ion-buttons>

    <ion-title class=".ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
