<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="red">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
          <ion-menu-toggle autohide="true" *ngFor="let c of componentes">
          <ion-item [routerLink]="c.redirecTo" detail=true>
          <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
          {{ c.name }}
          </ion-item>

          
          </ion-menu-toggle >
          <ion-item></ion-item>
          <ion-item></ion-item>
          <ion-item></ion-item>
          <ion-item></ion-item>
          <ion-item></ion-item>
          <ion-item></ion-item>
          <ion-item></ion-item>
          
          
          <ion-item (click)="salir()" routerDirection="root" detail="true">
            <ion-icon slot="start" [name]="'exit-outline'" color="gray"></ion-icon>
            <ion-label>Salir</ion-label>
            </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
