<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Atras"
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
      
      <ion-card>
        
       <ion-card-header>
         <ion-card-title class="titulo">Científicos han identificado una forma rara y agresiva de Alzheimer que inicia a los 40 años de edad</ion-card-title>
          <br>
         <ion-card-subtitle class="subtitulo" >8 septiembre, 2021</ion-card-subtitle>
          
         </ion-card-header>
  
  
        <ion-card-content class="ion-padding contenido">
          <img src="\assets\scientists-in-sweden-d-2000x1200.jpg"></ion-card-content>
        
       </ion-card>
     
       <ion-item >
         <ion-button fill="outline" slot="end" href="https://www.robotitus.com/cientificos-han-identificado-una-forma-rara-y-agresiva-de-alzheimer-que-inicia-a-los-40-anos-de-edad" target="_blank">Leer articulo...</ion-button>
       </ion-item>
  
  
  
  
  
       <ion-card>
        
         <ion-card-header>
           <ion-card-title class="titulo">Esta es la razón por la cual pacientes con Covid-19 severo sufren anomalías en la coagulación sanguínea</ion-card-title>
            <br>
           <ion-card-subtitle class="subtitulo" >23 agosto, 2021</ion-card-subtitle>
            
           </ion-card-header>
   
   
          <ion-card-content class="ion-padding contenido">
            <img src="\assets\Blood-Clot-Illustration-777x518-1.jpg">        </ion-card-content>
          
         </ion-card>
       
         <ion-item >
           <ion-button fill="outline" slot="end" href="https://www.robotitus.com/esta-es-la-razon-por-la-cual-pacientes-con-covid-19-severo-sufren-anomalias-en-la-coagulacion-sanguinea" target="_blank">Leer articulo...</ion-button>
         </ion-item>
         <ion-card>
  
  
  
        
           <ion-card-header>
             <ion-card-title class="titulo">La impresión en 3D más completa de un letal tumor cerebral abre la puerta a novedosas terapias</ion-card-title>
              <br>
             <ion-card-subtitle class="subtitulo" >23 agosto, 2021</ion-card-subtitle>
              
             </ion-card-header>
     
     
            <ion-card-content class="ion-padding contenido">
              <img src="\assets\46907495-0-image-a-10_1629472605735.jpg">
            </ion-card-content>
            
           </ion-card>
         
           <ion-item >
             <ion-button fill="outline" slot="end" href="https://www.robotitus.com/la-impresion-en-3d-mas-completa-de-un-letal-tumor-cerebral-abre-la-puerta-a-novedosas-terapias" target="_blank">Leer articulo...</ion-button>
           </ion-item>
  
           <ion-card>
        
             <ion-card-header>
               <ion-card-title class="titulo">Descubren un sistema para quemar grasa visceral que involucra los sistemas nervioso e inmunitario</ion-card-title>
                <br>
               <ion-card-subtitle class="subtitulo" >23 agosto, 2021</ion-card-subtitle>
                
               </ion-card-header>
       
       
              <ion-card-content class="ion-padding contenido">
                <img src="\assets\medir-pliegue-grasa.jpg">            </ion-card-content>
              
             </ion-card>
           
             <ion-item >
               <ion-button fill="outline" slot="end" href="https://www.robotitus.com/descubren-un-sistema-para-quemar-grasa-visceral-que-involucra-los-sistemas-nervioso-e-inmunitario" target="_blank">Leer articulo...</ion-button>
             </ion-item>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
    <!--<ion-list>
      <ion-item *ngFor="let c of componentes"
                [routerLink]="c.redirecTo"
                detail="true">
         <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
         {{c.name}}
      </ion-item>
    </ion-list>
    <p>HOLA MUNDO</p>
  
    <ion-button routerLink="/alert">
      Alert
    </ion-button>
  
    <ion-button routerLink="/action-sheet">
      Action Sheet
    </ion-button>-->
  </ion-content>
    
     





